#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}




.wood-light {
  background-color: #8c6239;
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 5px,
    rgba(219, 199, 172, 0.5) 5px,
    rgba(219, 199, 172, 0.5) 10px
  );
}

.wood-dark {
  background-color: #492603;
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 5px,
    rgba(226, 179, 117, 0.5) 5px,
    rgba(226, 179, 117, 0.5) 10px
  );
}
